
.classpath
.commit
database/*business*
database/*db*
docs/_build
.DS_Store
/.gradle/
.idea/
*.iml
.keystore
nohup.out
overrideProperties/config/swf.properties
.project
/.settings/
src/main/resources/scripts/node_modules/
src/main/resources/templates/node_modules/
/target/
tmp/*docker*
tmp/*log*
tmp/pid
*.vscode/*
