/target/
/.settings/
.commit
.idea/
*.iml
tmp/*log*
tmp/*docker*
tmp/pid
overrideProperties/
nohup.out
database/*db*
database/*business*
docs/_build
src/main/resources/templates/node_modules/
src/main/resources/scripts/node_modules/

/.gradle/
.keystore
